@import '~antd/dist/antd.less';

.App {
  text-align: center;
}

body {
  background-color: #f2f2f2;
}

.ant-upload-list {
  border: solid 1px red;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 80vh;
  overflow-y: scroll;
}
