.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filterContainer {
  margin: 40px 0px;
}

.itemSmall {
  margin: 10px 30px;
}

.itemMedium {
  margin: 10px 30px;
  width: 30%;
}

.itemLarge {
  margin: 10px 30px;
  width: 40%;
}
