.Navbar {
  display: flex;
  width: 100%;
  height: 66px;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
}
.Links {
  display: none;
}

.Buttons {
  display: none;
}

@media screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .Navbar {
    width: 95%;
    margin: auto;
  }

  li {
    display: inline;
  }

  .Links {
    display: flex;
  }

  .Logo {
    display: flex;
    align-items: flex-start;
    width: 13%;
  }
}
