.SignupBox {
  display: flex;
  margin: 7vh auto;
  width: 85%;
  height: 80vh;
  background-color: whitesmoke;
  -webkit-box-shadow: 20px 20px 55px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 20px 20px 55px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 20px 20px 55px -20px rgba(0, 0, 0, 0.75);
}

.Button {
  width: 70%;
  margin: auto;
}

h2 {
  margin: 12% 0 6% 0;
  text-transform: uppercase;
  font-weight: 400;
}

.ImagePhotographer {
  display: none;
}

.ImageSurfer {
  display: none;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .SignupBox {
    margin: 7vh auto;
    width: 70%;
  }

  .Form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ImagePhotographer {
    display: initial;
    width: 50%;
    height: 100%;
    background-image: url('../../../Assets/Images/photographer.jpg');
    background-size: cover;
    transition: opacity 3s ease-in-out;
  }

  .ImageSurfer {
    display: initial;
    width: 50%;
    background-image: url('../../../Assets/Images/surfer.jpg');
    background-size: cover;
  }
  .Logo {
    margin: 20.5px 0;
    font-size: 1.2em;
  }
}
