.SignupBox {
  display: flex;
  margin: 10vh auto;
  width: 70%;
  height: 80vh;
  background-color: whitesmoke;
  -webkit-box-shadow: 20px 20px 55px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 20px 20px 55px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 20px 20px 55px -20px rgba(0, 0, 0, 0.75);
}

.Form {
  width: 50%;
  height: 100%;
}

form {
  margin: auto;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ImagePhotographer {
  width: 50%;
  height: 100%;
  background-image: url('../../../Assets/Images/photographer.jpg');
  background-size: cover;
}

.ImageSurfer {
  width: 50%;
  background-image: url('../../../Assets/Images/surfer.jpg');
  background-size: cover;
}
