.background {
  width: 100%;
  height: 93vh;
  background-image: url('https://ik.imagekit.io/picproj2020/surf_pics_project/web_assets/mathieu-chirico-sFSZuKI2CvY-unsplash_QFgLBRMgkJac.jpg');
  background-size: cover;
  display: flex;
}

.FormContainer {
  position: relative;
  width: 40%;
  margin: 1% 5%;
  padding: 40px;
  background-color: whitesmoke;
}

.ant-upload-list .ant-upload-list-picture {
  overflow-y: scroll;
}
.loader {
  z-index: 1;
  position: absolute;
  background-color: rgba(228, 228, 228, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
